h1 {
    font-size: 300%;
}

h2 {
    font-size: 200%;
}

p {
    font-size: 100%;
}

textarea {
    width: 100%;
    min-height: 50px;
}

.badge {
    cursor: pointer;
    padding: 0 0 0 4px;
}

.inner {
    float: left;
    width: 100px;
    height: 50px;
    margin: 20px;
    background: #ccc;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.txt_password {
    font-family: "Courier New", Courier, monospace;
    font-size: 100%;
    color: #006633;
    padding: 0 0 0 3px;
}
/*
.LoadSettingsDIV {
    display: inline;
    text-align: left;
    margin: 0;
    padding: 0 0 0 4px;
    cursor: pointer;
}
*/
